*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(74, 175, 175, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.container{
    position: relative;
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 5px;

    box-shadow: -1px 6px 26px -3px rgba(20, 20, 20, 0.86);
    -webkit-box-shadow: -1px 6px 26px -3px rgba(12, 12, 12, 0.86);
    -moz-box-shadow: -1px 6px 26px -3px rgba(2, 2, 2, 0.86);

    display: flex;
    justify-content: center;
    
}
.container .description{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 96%;
    
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0,0.5);
}


.bottom{
    position: absolute;
    bottom: 20px;
    left: 20px;
     width: 96%;
     height: 15%;
     /* background-color: red; */

     display: flex;
     align-items: center;
     justify-content:space-between;
}
.bottom .resetfilters {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
   width: 150px;
   height: 60%;
   /* background-color: yellow; */
   border: 1px solid black;
   border-radius: 5px;
}
.bottom .options{
    width: 40%;
    /* background-color: yellow;
    border: 2px solid black; */
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.options .chooseimage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 150px;
    background-color: rgb(58, 57, 57);
    border: 2px solid black;
    font-size: 1.4em;
    color: white;
    border-radius: 5px;
}
.options .saveimage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 150px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: 2px solid rgb(0, 162, 255);
    font-size: 1.4em;
    border-radius: 5px;
    
}
.options .saveimage:hover{
    
    background-color: rgb(5, 46, 70);
    color: rgb(129, 178, 211);
    border: none;
    cursor: pointer;
}
.options .chooseimage:hover{
    
    background-color: rgb(173, 172, 172);
    cursor: pointer;
    color: rgba(19, 18, 18, 0.5);
}
.bottom .resetfilters:hover{
    
    background-color: rgb(187, 187, 212);
    color: rgb(68, 60, 60);
    cursor: pointer;
}




/* this is where our editing magic is supposed to happen, hopefully I can code the logic today */
.maincontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px ;
    width: 96%;
    height: 65%;
    /* background-color: gold; */
    
    border-radius: 5px;
    z-index: 1000;
}
.maincontainer .settings{
    width: 40%;
    height: 100%;
    position: relative;
    border: 5px;
    border-radius: 5px;
    box-shadow:5px 2px 8px rgba(20, 20, 20, 0.5),
    -5px -2px 8px rgba(20, 20, 20, 0.5);
    display: flex;
    justify-content: center;
}
.maincontainer .imageview{
    width: 57%;
    height: 100%;
    
    border: 5px;
    border-radius: 5px;
    box-shadow:5px 2px 8px rgba(20, 20, 20, 0.5),
    -5px -2px 8px rgba(20, 20, 20, 0.5);
}
.maincontainer .settings .filtertitle{
    position: absolute;
    left: 20px;
    top: 2%;
    font-size: 1.5em;
}

.threesettingscontainers{
    margin-top: 12%;
    height: 82%;
    width: 90%;
    /* background-color: rgba(255, 0, 0,0.2); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.threesettingscontainers .filterlist{
    border: 1px solid black;
    width: 95%;
    height: 35%;
}
.threesettingscontainers .scrollvalue{
    border: 1px solid black;
    width: 95%;
    height: 20%;
}
.threesettingscontainers .imagechange{
    
    
    
    width: 95%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.threesettingscontainers .imagechange .changetitle{
    position: absolute;
    font-size: 1.5em;
    bottom: 30%;
    left: 20px;
}
.rotateleft{
    width: 80px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotateleft:hover{
    cursor: pointer;
    background-color: rgba(39, 37, 37, 0.1);
}

.rotateright{
    width: 80px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotateright:hover{
    cursor: pointer;
    background-color: rgba(39, 37, 37, 0.1);
}
.mirrorup{
    width: 80px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mirrorup:hover{
    cursor: pointer;
    background-color: rgba(39, 37, 37, 0.1);
}
.mirrorside{
    width: 80px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mirrorside:hover{
    cursor: pointer;
    background-color: rgba(39, 37, 37, 0.1);
}



/* i will write media querries here as the screen is only suitable for desktop */
@media (min-width: 320px) and (max-width: 480px) {
    body{
        background-color: red;
    }
    .options .saveimage{
        font-size: 1em;
        
        background-color: rgb(0, 162, 255);
        width: 100px;
        height: 40%;
        
    }
    .options .chooseimage{
        font-size: 0.9em;
        
        background-color: rgb(58, 57, 57);
        
        width: 100px;
        height: 40%;
        
        
    }
    .bottom{
        left: 5px;
        bottom: 5px;
    }
    .bottom .options{
        width: 60%;
    }
    .bottom .resetfilters{
        width: 100px;
        height: 40%;
        font-size: 1em;
    }
    .container .description{
        width: 92%;
    }
  }